/* You can add global styles to this file, and also import other style files */

:root {
    --black: #1E293B;
    --blue: #0FA3B1;
    --white: #F1FFFA;
    --orange: #FFB17A;
    --red: #E84855;
    --card-border-color: #e2e8f0;
    --green: #1c7c54;
}

* {
    box-sizing: border-box;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--white);}

.grid-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
    gap: 10px;
}

.grid-card {

    &.cl-1 {
        grid-column: span 1;
    }

    &.cl-2 {
        grid-column: span 2;
    }

    &.cl-3 {
        grid-column: span 3;
    }

    &.cl-4 {
        grid-column: span 4;
    }

    &.cl-5 {
        grid-column: span 5;
    }

    &.cl-6 {
        grid-column: span 6;
    }

    &.cl-7 {
        grid-column: span 7;
    }

    &.cl-8 {
        grid-column: span 8;
    }

    &.cl-9 {
        grid-column: span 9;
    }

    &.cl-10 {
        grid-column: span 10;
    }

    &.cl-11 {
        grid-column: span 11;
    }

    &.cl-12 {
        grid-column: span 12;
    }

    &.rw-1 {
        grid-row: span 1;
    }

    &.rw-2 {
        grid-row: span 2;
    }

    &.rw-3 {
        grid-row: span 3;
    }

    &.rw-4 {
        grid-row: span 4;
    }

    &.rw-5 {
        grid-row: span 5;
    }

    &.rw-6 {
        grid-row: span 6;
    }

    &.rw-7 {
        grid-row: span 7;
    }

    &.rw-8 {
        grid-row: span 8;
    }

    &.rw-9 {
        grid-row: span 9;
    }

    &.rw-10 {
        grid-row: span 10;
    }

    &.rw-11 {
        grid-row: span 11;
    }

    &.rw-12 {
        grid-row: span 12;
    }
}
